.disabled-panel {
    opacity: 0.6 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    background-color: #1c71c7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

#category-image,
#product-images,
.product-images {
    display: none;
}

.image-preview {
    margin-top: 10px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid #007bff;
    padding: 5px;
    border-radius: 5px;
}

.image-category,
.image-product {
    width: 80px;
    height: 80px;
}

.btn-update-category,
.btn-update-product {
    color: green !important;
}

.btn-delete-category,
.btn-delete-product {
    color: red !important;
}

.category-image {
    display: none;
}

.image-preview-listproduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 10px;
    gap: 5px;
}
